@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

.wrapper {
  margin-left: 160px;
  margin-right: 160px;
  margin-top: 24px;
  margin-bottom: 42px;
}

.main-heading h1 {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 120px;
  margin-top: 88px;
  margin-bottom: 64px;
}

.nav_text {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.article {
  display: flex;
  margin-bottom: 87px;
}

.grey {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.5;
}

.left-part {
  margin-right: 160px;
}

.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  margin-top: 51px;
}

.summary {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-top: 24px;
  margin-bottom: 70px;
}

.span {
  margin-left: 4px;
}

.ul {
  display: flex;
  align-items: center;
}

.li {
  margin-right: 4px;
  vertical-align: middle;
}

.li-img {
  border-radius: 50%;
}

.topic {
  display: flex;
  align-items: center;
}

.topic-button {
  background: linear-gradient(
      0deg,
      rgba(8, 30, 52, 0.12),
      rgba(8, 30, 52, 0.12)
    ),
    #fffbfe;
  border-radius: 100px;
  padding: 6px 16px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #081e34;
}

.topic h3 {
  margin-left: 8px;
}

.right-part img {
  width: 450px;
  height: 320px;
}

/* footer */

.footer_upper {
  display: flex;
  justify-content: flex-end;
  margin-top: 780px;
}

.footer_upper a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #081e34;
  opacity: 0.5;
}

.footer_upper h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #081e34;
  opacity: 0.5;
}

.footer-ul {
  display: flex;
  align-items: center;
}

.footer-li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-right: 48px;
  color: #081e34;
}

.footer-ul img {
  width: 24px;
  margin-right: 16px;
}

.footer_lower h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #081e34;
  margin-top: 52px;
  float: right;
  margin-bottom: 42px;
}


/* article */

/* .single-wrapper{
  margin-left: 160px;
  margin-right: 160px;
  margin-top: 24px;
  margin-bottom: 42px;
}

.single-article{

}

.single-img{
  
} */